//zsg: ignore

$red: #a32020;
$blue: #3F9CBC;
$green: #37894c;
$pink: #ff6fbd;
$dark-pink: #cc3788;
$black: #34353B;
$charcoal: #53545a;
$silver: #AAABAF;
$white: #FAFAFC;

$color__primary: $charcoal;
$color__secondary: $black;
$color__tertiary: $silver;
$color__accent: #999999;
$color__highlight: lighten($color__accent, 25%);
$color__black: $black;
$color__neutral: $silver;
$color__neutral-text: darken($silver, 15%);
$color__white: $white;

// zsg:  end ignore


// Base colours
//
// To evoke a military-type feeling, Strikebase uses a palette of desaturated browns and sand-coloured
// beiges as its neutral shades. Use for body text, backgrounds, separating elements, and anything that
// doesn't need to have attention drawn to it.

$color__black: $black;
$color__neutral: $silver;
$color__neutral-text: darken($silver, 15%);
$color__neutral-highlight: $silver;
$color__white: $white;

// Primary colours
//
// In keeping with the military theme, we use a series of olive-ish greens as the primary accent colour.
// This is used to distinguish elements (like labels) from their surrounding text, as well as for
// background colours and the colours of less important elements.

$color__primary: $charcoal;
$color__primary-light: #ff6fbd;
$color__primary-dark: #cc3788;

// Accent colours
//
// Accent colours are used to highlight important information.
// Red is generally the colours of links, and yellows are used to highlight important information that isn't a link.

$color__accent: #999999;
$color__accent-alt: #AAAB45;
$color__highlight: lighten($color__accent, 25%);

// zsg: ignore

// Background & body text
$color__background-body: $color__white;
$color__text-main: $color__black;
$color__headings: $color__neutral;

// Inputs
$color__border-input: #ccc;
$color__text-input: #666;
$color__text-input-focus: #111;

// Buttons
$color__background-button: #e6e6e6;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;

// Misc HTML elements
$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

// Screenreader stuff; best to leave be.
$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

// zsg:endignore

// Links
$color__link: $color__accent;
$color__link-visited: $color__accent;
$color__link-hover: $color__accent-alt;
