#page {
  margin: 0 auto;
  max-width: 1140px;
  padding: 20px;
}

#masthead {

  .site-logo-link {
    background: none;
    display: inline-block;
    left: calc(50% - 37.5px);
    top: -10px;
    position: absolute;
    width: 75px;
  }

  .site-logo {
    margin: 10px -15px;
    max-width: calc(100% + 30px);
  }

  .site-branding {
    background: $red;
    display: inline-block;
    width: 75px;
    margin: -20px 45px;

    .site-title,
    .site-description {
      display: none;
    }
  } // .site-branding
} // #masthead

.content-area {

}

.site-main {

}

.site-footer {
  border-top: 1px solid lighten($color__text-main, 50%);
	clear: both;
  color: lighten($color__text-main, 25%);
  @include font-size(1);
  font-style: italic;
  margin-top: 1em;
  padding-top: 0.5em;
  text-align: center;
	width: $size__site-main;

  a {
    color: $color__text-main;
  }
}
