.wp-caption,
figure {
  background: lighten($color__text-main, 70%);
  padding: 10px;
  margin: 0px -20px;
  max-width: calc(100% + 40px);

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}

  a,
  a:hover {
    border-bottom: none;
  }

  @include desktop {
    margin-left: -50px;
    margin-right: -50px;
    max-width: calc(100% + 100px);
  }
}

.wp-caption-text,
figcaption {
  color: lighten($color__text-main, 25%);
  font-size: 0.9em;
  font-style: italic;
  line-height: 1.4;
	text-align: center;
}
