.taxonomy-description {
	margin-bottom: 2em;
	max-width: $size__content-width;

	p {
		margin: 0.5em 0;
	}
}

/* Archive pages */
.blog,
.archive {
	.page-header {
		//padding-top: 4em;
		text-align: center;

		.nix-prefix {
			@extend h3;
			display: block;
		}
	}

	a {
		border-bottom: none;
	}

	article:not(.jetpack-testimonial) {
		width: 100%;
		//display: flex;
	}

	/* Image and title */
	.entry-header {
		background: $color__accent;
		min-height: 30vh;
		padding: $size__site-gutter/2;
		position: relative;
		transform: skew(0, -$size__skew/2);
		margin-left: -$size__site-gutter/2;
		margin-bottom: $size__site-gutter;
		width: 100%;
		width: calc(100% + #{$size__site-gutter});
	}

	.phoenix-panel-background {
		background-position: top center;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@include desaturate;
		transform: skew(0, $size__skew);
		z-index: -1;
	}

	.entry-title {
		transform: skew(0, $size__skew/2);
		font-family: $font__display;
		font-style: normal;
		@include font-size(2.4);
		margin: 0;

		a {
			color: $color__white;
		}
	}

	/* Alternate skew for every other post. */
	article:nth-of-type(odd) {
		.entry-header {
			transform: skew(0, $size__skew/2);
		}

		.phoenix-panel-background {
			transform: skew(0, -$size__skew);
		}

		.entry-title {
			transform: skew(0, -$size__skew/2);
		}
	}

	/* Excerpt */
	.entry-content {
		@include font-size(1.15);
		margin-top: 0;
	}

	.phoenix-day,
	.phoenix-date {
		display: none;
	}


	.cat-links {
		background: $silver;
		border-left: 2px solid $charcoal;
		display: inline-block;
		display: none;
		padding: 6px 10px;
		top: 5px;
		position: absolute;
		left: -5px;
	}

	.cat-links,
	.entry-meta {
		@include font-size(0.8);
	}

	/* For larger screens */
	@include tablet {
		.phoenix-panel-background {
			background-position: top center;
			background-size: cover;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			@include desaturate;
			transform: skew(0, $size__skew);
			z-index: -1;
		}

		.entry-title {
			@include font-size(3.6);
					position: absolute;
					bottom: $size__site-gutter/2;
					left: $size__site-gutter/2;
		}
	}

}
