// Intro text
.phoenix-intro-text {
	@extend h1;
	color: $color__text-main;
	max-width: $size__max-width;

	span {
		display: block;
	}

	a {
		color: $color__headings;
		font-style: italic;
		position: relative;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			overflow: hidden;
			padding: 17px 0 0;
			max-width: 0;
			border-bottom: 6px solid $color__primary;
			color: $color__primary;
			content: attr(data-hover);
			transition: max-width 0.5s;
		}
	}

	a:hover,
	a:focus {
		border-bottom: 0;

		&::before {
			max-width: 100%;
		}
	}
}

// Recent posts
.phoenix-frontpage-widget {

  h3 {
    text-align: center;
  }

  .phoenix-short-post {
    margin: 1em 0;

    img {
      border-radius: 50%;
      float: left;
      height: 100px;
      margin: 10px 10px 10px 0;
      width: 100px;
    }

    .entry-title {
      @include font-size(1.6);
      clear: none;
    }

    .entry-content {
      @include font-size(1);
      line-height: 1.2;
      margin-top: 0;
    }
  } // .libretto-short-post
} // .phoenix-frontpage-widget

// Use two columns on a desktop, since we've got loads of space
@include desktop {
  .home .page {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-right: $size__site-gutter;
    width: calc(100% - 400px);
  }

  .phoenix-frontpage-widget {
    float: left;
    margin-top: 7em;
    padding-left: $size__site-gutter;
    width: 400px;
  }
}
