.wanderlist-overview {
		display: grid;
		grid-template-columns: 1fr;
		grid-row-gap: $size__site-gutter;
		grid-column-gap: $size__site-gutter;

	@include tablet {
		grid-template-columns: 1fr 1fr;

	}
}

/* Maps */
.wanderlist-map-widget {
	margin-top: -60px;

	@include tablet {
		grid-column: 1 / 3;
	}

	@include desktop {
		margin-top: 0;
	}
}

#wanderlist-map {
	border: 1px solid $silver;
	display: block;
	height: 200px;
	position: relative;
	z-index: 0;
	width: 100%;

	@include tablet {
		height: 475px;
	}

	.leaflet-marker-icon,
	.leaflet-tile {
		box-shadow: none;
	}
}

/* Widgets */
.wanderlist-widget {

	.widget-title {
		border-bottom: 2px solid;
		padding-bottom: 0.5em;
		text-align: left;
	}

	dl,
	ul {
		font-family: $font__main;
		@include font-size(1);
		line-height: 1.4;
		margin: 10px 0;
		padding-left: 0;
	}

	dt {
		color: $color__neutral-text;
		font-style: italic;
		font-weight: normal;
	}

	dd {
		margin: 0 0 5px 0;
	}

	@include tablet {
		dl {
			display: flex;
			flex-wrap: wrap;
		}

		dt {
			flex-basis: 100px;
			text-align: right;
		}

		dd {
			flex-basis: calc(100% - 110px);
			margin-left: 10px;
		}
	}
} // .wanderlist-widget

// Temporarily hide trips.
.wanderlist-trip-widget {
	display: none;
}

/* Country list widget */
.wanderlist-country-widget {
	@include tablet {
		grid-column: 1 / 3;
	}

	.widget-title {
		display: none;
	}

	ul {
		margin: 0;
	}

	li {
		@extend h3;
		background: $color__primary-dark;
		color: $color__white;
		display: inline-block;
		font-size: 0.85rem;
		list-style-type: none;
		padding: 0 10px 0 0;
		margin: 4px;
		white-space: nowrap;

		a {
			display: inline-block;
			color: $color__white;
			padding: 5px 5px 5px 15px;
		}

		&:hover {
			background: $color__primary;
			color: $white;
		}

		a:hover,
		&:hover a {
			color: $white;
		}

		&::before {
			display: none;
		}
	}
} // .wanderlist-country-widget


/* Number widget */
.wanderlist-number-widget {
	@include tablet {
		grid-column: 1 / 3;
		grid-row: 3;
	}

	display: flex;
	justify-content: space-around;
	max-width: 700px;
	margin: 0 auto;

	.widget-title {
		display: none;
	}

	div {
		background: $color__accent;
		border: 2px solid $color__accent-alt;
		border-radius: 50%;
		color: $color__white;
		font-family: $font__sans-serif;
		font-weight: normal;
		height: 90px;
		line-height: 0.7;
		padding: 25px 0;
		text-align: center;
		width: 90px;
		margin: 5px;

		.wanderlist-number {
			display: block;
			@include font-size(2);
			font-weight: 100;
		}

		.wanderlist-item {
			@include font-size(0.8);
			text-transform: lowercase;
		}

		@include tablet {
			height: 145px;
			padding: 45px 0;
			width: 145px;

			.wanderlist-number {
				@include font-size(3);
			}

			.wanderlist-item {
				@include font-size(1);
			}
		}
	} // div

	.wanderlist-connector {
		display: none;

		@include tablet {
			color: $silver;
			display: block;
			font-style: italic;
			margin: 40px 20px;
		}
	}
} // .wanderlist-number-widget


/* Text snippets */
.wanderlist-country-count {
	color: $color__accent-alt;
	font-weight: bolder;
}

.wanderlist-current-location {
	color: $color__accent-alt;
	font-style: italic;
}
