.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Page header */
.page-header {
	@include page-header;
}

.page-title {
	color: $color__primary;
	font-weight: 400;
	padding: 0;
	margin-bottom: $size__site-gutter*2;

	em {
		color: $silver;

		&::before {
			content: ' ';
			display: inline;
		}
	} // em
}

/* Subtitles & archive descriptions */
.subtitle,
.taxonomy-description {
	@include font-size(1.4);
	border-top: 2px solid $color__neutral-highlight;
	color: $color__neutral-highlight;
	font-style: italic;
	margin: 0;
	max-width: $size__content-width;
	padding-top: $size__site-gutter;

	p {
		margin: 0.5em 0;
	}

	@include tablet {
		@include font-size(1.6);
	}
}

/* Full-width page */
.page-template-full-width-page .entry-content {
	max-width: $size__max-content-width;
}
