.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

/* Entry headers */
.entry-meta {
	line-height: 1.5;
}

.posted-on,
.cat-links,
.tags-links,
.nix-prefix {
	@extend h3;
	display: block;
	padding: $size__site-gutter/8 0;

	.highlight {
		color: $silver;
	}
}

.cats-links,
.tags-links {
	&::before {
		content: '\00b7';
	}

	a {
		color: $color__accent;
	}
}

/* Page and post titles */
.entry-title,
.page-title {
	font-weight: 400;
	padding: 0;

	em {
		color: $silver;

		&::before {
			content: ' ';
			display: inline;
		}
	} // em
}

/* Subtitles & archive descriptions */
.subtitle,
.taxonomy-description {
	@extend blockquote;
	@include font-size(1.4);

	@include tablet {
		@include font-size(1.6);
	}
}


/* Styles for all single posts */
.single {
	.entry-header {
		position: relative;

		@include desktop-max {
			margin-top: 40px;
		}
	}

	.entry-header {
		background: $color__accent;
		height: 80vh;
		padding: $size__site-gutter;
		position: relative;
		transform: skew(0, -$size__skew/2);
		margin-left: -$size__site-gutter/2;
		width: 100%;
		width: calc(100% + #{$size__site-gutter});
	}

	.phoenix-panel-background {
		background-position: top center;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@include desaturate;
		transform: skew(0, $size__skew);
		z-index: -1;
	}

	// Un-skew text, because we aren't animals.
	.phoenix-header-text {
		position: absolute;
		bottom: $size__site-gutter*2;
		left: $size__site-gutter;
		max-width: $size__max-width*.75;
		transform: skew(0, $size__skew/2);
		z-index: 10;
	}

	.cat-links a {
		border-bottom: none;
		color: lighten($color__accent, 10%);

		&::before {
			background-color: $color__accent;
			content: '';
			display: inline-block;
			height: 10px;
			margin-right: 5px;
			width: 10px;
		}

		&:hover {
			color: $color__accent;

			&::before {
				background-color: $color__secondary;
			}
		}
	}

	.posted-on {
		color: lighten($silver, 10%);
	}
	.posted-on .highlight {
		color: lighten($silver, 20%);
	}

	.entry-title {
		color: $white;
		margin-top: 0;
	}

	.subtitle {
		border-color: $white;
		color: $white;
	}
} // .single

/* Entry footer */
.entry-footer {
	@include font-size(1.6);
	border-bottom: 2px solid lighten($color__text-main, 50%);
	border-top: 1px solid lighten($color__text-main, 50%);
	color: #bbb;
	font-style: italic;
	line-height: 1.4;
	margin-top: .5em;
	padding: 1em 0;
	text-align: center;

	.twitter-share {
			border-bottom: 0;
			display: block;

			.phoenix-icon-twitter {
				height: 32px;
				margin-right: -6px;
				width: 32px;
				vertical-align: -6px;
			}
	}
}
