.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

/* Styles for all single posts */
.single {
	.entry-header {
		position: relative;

		@include desktop-max {
			margin-top: 40px;
		}
	}

	.entry-header {
		background: $color__accent;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-left: -$size__site-gutter/2;
		min-height: 80vh;
		padding: $size__site-gutter;
		position: relative;
		transform: skew(0, -$size__skew/2);
		width: 100%;
		width: calc(100% + #{$size__site-gutter});
	}

	.phoenix-panel-background {
		background-position: top center;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@include desaturate;
		transform: skew(0, $size__skew);
		z-index: -1;
	}

	// Un-skew text, because we aren't animals.
	.phoenix-header-text {
		max-width: $size__max-width*.75;
		transform: skew(0, $size__skew/2);
		z-index: 10;
	}

	.posted-on {
		color: $silver;
	}

	.phoenix-month,
	.phoenix-date {
		color: lighten($silver, 20%);
	}

	.entry-title {
		color: $white;
		margin: $size__site-gutter/2 0;
	}

	.subtitle {
		margin-left: 0;
		border-color: $white;
		color: $white;
	}

	.entry-content {
		padding-top: $size__site-gutter*2;
	}
} // .single

/* Entry footer */
.entry-footer {
	@include font-size(1.6);
	border-bottom: 2px solid lighten($color__text-main, 50%);
	border-top: 1px solid lighten($color__text-main, 50%);
	color: #bbb;
	font-style: italic;
	line-height: 1.4;
	margin: $size__site-gutter auto;
	max-width: $size__content-width;
	padding: 1em 0;
	text-align: center;

	.twitter-share {
		border-bottom: 0;
		color: $blue;
		display: block;

		.phoenix-icon-twitter {
			height: 32px;
			margin-right: -6px;
			width: 32px;
			vertical-align: -6px;
		}
	}
}
