.event {
	@include card;
	margin: 0 0 $size__site-gutter/2 0;

	@include tablet {
		display: inline-block;
		vertical-align: top;
		width: 48%;
	}
}

.placeholder {
	height: 200px;
	width: 100%;
	background: $color__secondary;
	color: $color__white;
	padding: $size__site-gutter/2;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
