$font__serif: "freight-text-pro", Georgia, serif;
$font__sans-serif: "proxima-nova", Helvetica, Arial, sans-serif;

$font__main: $font__serif;
$font__accent: $font__sans-serif;
// Lust Display, Lust Display Didone, Lust Script Display
$font__display: "Lust Display Didone", $font__serif;
$font__decorative: "brim-narrow-combined-2", $font__serif;

$font__headings: $font__display;

$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
