.posted-on,
.cat-links,
.tags-links,
.nix-prefix {
	@extend h3;
	display: block;
	line-height: 1.6;
	padding: 0;

	.highlight {
		color: $silver;
	}
}

/* Category links */
.cat-links a {
	text-decoration: none;
	color: lighten($color__accent, 10%);

	&::before {
		background-color: $color__accent;
		content: '';
		display: inline-block;
		height: 10px;
		margin-right: 5px;
		width: 10px;
	}

	&:hover {
		color: $color__accent;

		&::before {
			background-color: $color__secondary;
		}
	}
}
