.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

#wpstats {
	display: none;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption,
figure {
	background: lighten($color__text-main, 70%);
	padding: 10px;
	margin: 0px -20px;
	max-width: calc(100% + 40px);

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 0.8075em 0;
	}

	a,
	a:hover {
		border-bottom: none;
	}

	p {
		display: none; /* Catch empty paragraphs */
	}

	@include desktop {
		margin-left: -50px;
		margin-right: -50px;
		max-width: calc(100% + 100px);
	}
}

.wp-caption-text,
figcaption {
	color: lighten($color__text-main, 25%);
	font-size: 0.9em;
	font-style: italic;
	line-height: 1.4;
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	background: none;
	display: inline-block;
	margin: 0;
	text-align: center;
	vertical-align: top;
	width: 100%;

	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}
