/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	border-bottom: 2px solid $color__link;
	color: $color__link;
	text-decoration: none;
	transition: all 0.2s ease-out;
	padding-bottom: 1px;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		padding-bottom: 0;
		border-bottom: 2px solid $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/*--------------------------------------------------------------
## Post navigation
--------------------------------------------------------------*/
.comment-navigation,
.posts-navigation,
.post-navigation {
	clear: both;

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	a {
		border-bottom: none;
		@include font-size(1.1);
		display: block;
		line-height: 1.2;

		.phoenix-icon {
			display: block;
			background: lighten($black, 20%);
			border: 2px solid $white;
			border-radius: 50%;
			box-shadow: 0 0 0px 2px lighten($black, 20%);
			fill: $white;
			height: 42px;
			line-height: 1;
			margin: 2px 10px;
			padding: 3px;
			transition: all 200ms linear;
			width: 42px;
		}

		&:hover .phoenix-icon {
			background: lighten($black, 10%);
		}
	}

	span:not(.caps) {
		color: $silver;
		display: block;
		font-family: $font__accent;
		@include font-size(0.9);
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	& .nav-previous {
		.phoenix-icon {
			float: left;
			margin-left: 2px;
		}
	}

	& .nav-next {
		text-align: right;

		.phoenix-icon {
			float: right;
			margin-right: 2px;
			transform: rotate(180deg);
		}
	}
}

/* Make sure there's some space between when they're stacked on top of one another */
@include mobile {
	.nav-previous + .nav-next {
		border-top: 1px solid $silver;
		margin-top: 30px;
		padding-top: 20px;
	}
}

/* Split into two columns on tablets */
@include tablet {
	.post-navigation {
		& .nav-previous {
			float: left;
			width: 50%;
		}

		& .nav-next {
			float: right;
			width: 50%;
		}
	} // .post-navigation
} // tablet

/*--------------------------------------------------------------
## Archive navigation
--------------------------------------------------------------*/
.phoenix-numeric-pagination {
	font-family: $font__accent;
	@include font-size(1.2);
	margin-bottom: $size__site-gutter;
	text-align: center;

	.page-numbers {
		padding: 5px 10px;
	}

	a {
		color: $color__neutral;
	}

	a span {
		display: none;
	}

	.page-numbers.current {
		color: $color__accent;
		border: 1px solid;
		border-radius: 50%;
	}

	@include mobile {
		display: flex;
		justify-content: space-between;

		.page-numbers {
			display: none;
		}

		a span {
			display: inline;
		}

		.prev,
		.next {
			display: inline;
		}
	}
}
