body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.2);
	line-height: $font__line-height-body;

	@include tablet {
		@include font-size(1.4);
	}
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 500;
	line-height: 1.2;

	a {
		border-bottom: none;
	}
}

h1 {
	color: $color__headings;
	letter-spacing: -0.03em;
	line-height: 1;
	font-family: $font__display;
	@include font-size(3.6);

	@include tablet {
		@include font-size(6);
	}

	a {
		color: $color__headings;
	}
}

h2 {
	color: lighten($color__text-main, 50%);
	font-style: italic;
	@include font-size(1.8);
	font-weight: 100;
	line-height: 1.2;
	margin-top: 3em;

	@include tablet {
		@include font-size(2.4);
	}
}

h3 {
	color: $silver;
	font-family: $font__accent;
	@include font-size(0.8);
	font-weight: 600;
	letter-spacing: 2px;
	margin: 0;
	text-transform: uppercase;

	@include tablet {
		@include font-size(0.9);
	}
}

/* Body copy */
p {
	margin-bottom: 1.5em;
}

.cap,
.single:not(.single-wanderlist-location) .entry-content p:first-of-type {
	@include tablet {
		color: lighten($color__text-main, 25%);
		font-size: 1.25em;
		margin: $size__site_gutter*2 0;
		padding-bottom: 0;
	}

	@include desktop {
		margin-left: -#{$size__site_gutter*2};
		margin-right: -#{$size__site_gutter*2};
	}

	&::first-letter {
		color: $yellow;
		display: block;
		float: left;
		@include font-size(7);
		font-family: $font__decorative;
		font-weight: 700;
		//initial-letter: 3; // Support too patchy right now. :(
		line-height: 0.6;
		margin: 14px 5px 0 -5px;

		@include tablet {
			@include font-size(15);
			// initial-letter: 4;
			margin-top: 16px;
		}
	}

	&::first-line {
		font-variant: small-caps;
		letter-spacing: 2px;
	}
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
	border-top: 1px solid lighten($color__text-main, 50%);
  color: $silver;
  display: block;
  @include font-size(1.2);
  font-style: italic;
  margin: 0.25em auto;
  padding-top: 0.5em;
  text-align: left;

  @include tablet {
    @include font-size(1.4);
  }
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

strong {
	background: $color__highlight;
	color: $color__text-main;
	padding: 0 5px;
}

.caps {
	font-variant: small-caps;
	letter-spacing: 1px;
	text-transform: lowercase;
}
