/* Archive pages */
.blog,
.archive:not(.tax-talks),
.home {

	.nix-prefix {
		display: none;
	}

	a {
		text-decoration: none;
	}

	/* Background images */
	.phoenix-background-image {
		filter: grayscale(100%) brightness(2) contrast(1.5);
		z-index: -1;
		opacity: 0.125;
		display: none;
	}

	.post {
		//border-top: 2px solid $color__neutral;
		margin: 0 auto $size__site-gutter*4;
		max-width: $size__content-width/1.5;

		&:first-of-type {
			margin-top: 40px;
		}
	}

	.posted-on,
	.cat-links {
		display: inline-block;
	}

	.posted-on {
		color: $charcoal;
	}

	.phoenix-day,
	.phoenix-date {
		display: none;
	}

	.entry-title {
		color: $color__soft-black;
		font-family: $font__display;
		font-style: normal;
		@include font-size(3.6);
		margin: 0 0 $size__site-gutter/2;
		line-height: 1;

		a {
			color: $color__neutral-text;
		}

		@include tablet {
			@include font-size(4.8);
		}
	}

	/* Excerpt */
	.entry-content {
		@include font-size(1.25);
		margin-top: 0;
		margin-bottom: $size__site-gutter;
	}
} // .blog, .archive
