.site-footer {
	clear: both;
	color: lighten($color__text-main, 25%);
	@include font-size(1);
	font-style: italic;
	margin-top: 1em;
	padding: $size__site-gutter/2 $size__site-gutter;
	text-align: center;
	width: 100%;

	a {
		color: $color__primary-dark;
		border-color: transparent;

		&:hover {
			border-color: transparentize($color__text-main, 0.5);
		}
	}

	.phoenix-icon-heart {
		fill: $color__primary-dark;
		height: 18px;
		margin-left: -2px;
		margin-right: -2px;
		width: 18px;
		vertical-align: -4px;
	}

	iframe {
		max-width: 175px;
	}

	.site-info {
		margin-top: 2px;
	}

	@include tablet {
		iframe {
			float: left;
		}

		.site-info {
			margin-top: 2px;
			text-align: right;
		}
	} // @include tablet

	@include desktop {
		.site-info {
			margin-top: -5px;
		}
	}
}
