// Panels
.phoenix-panel {
	@include page-header;
	margin: 0 auto;
	max-width: $size__max-content-width;
	padding-bottom: 0;
}

// Intro text
.phoenix-intro-text {
	span {
		display: block;
		margin-bottom: $size__site-gutter*2;
	}
}

.home .site-footer {
	margin-top: 90px;
}
