body {
	background: $color__soft-black;
}

#page {
	background: $color__background-body;
	margin: 0 auto;
	max-width: $size__max-content-width;
	//position: relative;
	//z-index: -1;
}

.content-area {

}

.site-main {

}

.page-content,
.entry-content,
.entry-summary {
	margin: 0 auto;
	max-width: $size__content-width;
}
