@import "../../stylesheets/variables/typography";

.adjectives {
	h3 {
		display: inline;
		color: $color__primary;
		// font-family: $font__display;
		font-family: $font__headings;
		font-size: 2.1rem;
		padding-right: 0.2em;
	}

	h3:nth-of-type(odd) {
		color: $color__accent;
	}
}

.headings {
	text-align: left;
}
