
.site-footer {
	border-top: 1px solid lighten($color__text-main, 50%);
	clear: both;
	color: lighten($color__text-main, 25%);
	@include font-size(1);
	font-style: italic;
	margin-top: 1em;
	padding-top: 0.5em;
	text-align: center;
	width: $size__site-main;

	a {
		color: $color__text-main;
		border-color: transparent;

		&:hover {
			border-color: transparentize($color__text-main, 0.5);
		}
	}

	span.icon-heart {
		color: $red;
		font-size: 0.6em;
	}

	iframe {
		max-width: 175px;
	}

	.site-info {
		margin-top: 2px;
	}

	@include tablet {
		iframe {
			float: left;
		}

		.site-info {
			margin-top: 2px;
			text-align: right;
		}
	} // @include tablet

	@include desktop {
		.site-info {
			margin-top: -5px;
		}
	}
}
