.site-branding, .site-logo-link {
	display: none !important; // Temporarily hide so to focus better.
}

#masthead {
	background: $white;
	border-bottom: 2px solid transparentize($color__link, 0.95);
	width: 100%;
	padding: $gutter/4 0;
	text-align: center;
}

/* Navigation */
.main-navigation {
	@include clearfix;
	display: inline-block;
	font-family: $font__accent;
	max-width: $size__max-width;
	width: 100%;
	vertical-align: top;

	li {
		display: inline;
		@include font-size(1);
		font-weight: 200;
		margin-left: -6px; /* Compensate for hairline space. */

		&::before {
			content: '\00b7';
			display: inline;
		}

		&:first-child::before {
			display: none;
		}
	} // li

	a {
		border-bottom: none;
		color: $color__text-main;
		display: inline-block;
		padding: 5px 10px;

		&:hover {
			color: $black;
		}
	} // a

	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		/* Sub-menus (currently unused & thus relatively unstyled) */
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		&:hover > a,
		&.focus > a {
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
		color: $silver;
		// border-bottom: 2px solid $silver;
	}
}

/* Logo & branding */
.site-logo-link {
	border-bottom: 0;
	display: block;
	margin: $gutter/2 auto 0;
	width: 60px;
}

.site-logo {
	max-width: 100%;
}

@include landscape {
	.site-logo-link {
		width: 100px;

		&:hover {
			transform: scale(1.05);
		}
	} // .site-logo-link
} // tablet

/* On small screens, decrease space between menu items. */
@include mobile {
	.main-navigation a {
		@include font-size(0.9);
		padding: 5px 6px;
	}
}

/* Adjust masthead a bit for portrait-oriented screens. */
@include portrait {
	#masthead {
		border-bottom: 0;
		height: auto;
		left: 0;
		padding: $gutter/4 $gutter/2;
		position: absolute;
		top: 0;
		width: 100%;
	}
} // portrait

/* Account for the admin bar */
.admin-bar {
	#masthead {
		top: 46px;

		@media screen and (min-width:600px) and (max-width:782px) {
			top: 46px;
		}

		@media screen and (min-width:782px) {
			top: 32px;
		}
	}
}
