.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em auto;
	max-width: $size__content-width;
}

/* Entry headers */
.entry-meta {
	line-height: 1.5;
}

.posted-on,
.cat-links,
.tags-links,
.nix-prefix {
	@extend h3;
	display: block;
	padding: $size__site-gutter/8 0;

	.highlight {
		color: darken($silver, 15%);
	}
}

.cats-links,
.tags-links {
	&::before {
		content: '\00b7';
	}

	a {
		color: darken($silver, 15%);
	}
}

.entry-title,
.page-title {
  font-weight: 400;
  padding: 0;

	em {
	  color: $silver;

	  &::before {
	    content: ' ';
	    display: inline;
	  }
	} // em
}

.subtitle,
.taxonomy-description {
	@extend blockquote;
	@include font-size(1.4);

	@include tablet {
		@include font-size(1.6);
	}
}
