.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Full-width page */
.page-template-full-width-page .page {
	max-width: 100%;

	.entry-content {
		margin-left: 0;
		margin-right: 0;
	}
}


/* Entry headers */
.entry-meta {
	line-height: 1.5;
}

.posted-on,
.cats-links,
.tags-links {
	@extend h3;

	.highlight {
		color: darken($silver, 15%);
	}
}

.cats-links,
.tags-links {
	&::before {
		content: '\00b7';
	}

	a {
		color: darken($silver, 15%);
	}
}

.entry-title,
.page-title {
	font-weight: 400;
	margin: 0 0 .5em;
	padding: 0;
}

.subtitle,
.taxonomy-description {
	@extend blockquote;
	@include font-size(1.4);

	@include tablet {
		@include font-size(1.6);
	}
}

.taxonomy-description {
	margin-bottom: 2em;

	p {
		margin: 0.5em 0;
	}
}

.entry-footer {
	@include font-size(1.6);
	border-bottom: 2px solid lighten($color__text-main, 50%);
	border-top: 1px solid lighten($color__text-main, 50%);
	color: #bbb;
	font-style: italic;
	line-height: 1.4;
	margin-top: .5em;
	padding: 1em 0;
	text-align: center;

	.twitter-share {
			border-bottom: 0;
			display: block;

			.phoenix-icon-twitter {
				height: 32px;
				margin-right: -6px;
				width: 32px;
				vertical-align: -6px;
			}
	}
}

/* Single posts and pages */
.single,
.page {
	article {
		margin: 3em auto;
		max-width: $max-content-width;
	}

	.entry-header {
		padding-top: 2em;
	}
}

/* Adjust spacing for pages */
body:not(.home) .page .entry-content {
	margin-top: -6em;
}

/* Archive pages */
.blog,
.archive {

	.page-header {
		padding-top: 4em;
		text-align: center;

		.archive-type {
			@extend h3;
			display: block;
		}
	}

	article {

		a {
			border-bottom: none;
		}

		img {
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
		}

		.entry-meta {
			@include font-size(0.8);
		}

		.entry-title {
			font-style: normal;
			@include font-size(2.1);
		}

		.entry-content {
			border-top: 1px solid lighten($color__text-main, 50%);
			@include font-size(1.15);
			margin-top: 0;
		}

		@include tablet {
			float: left;
			width: 48%;

			&:nth-of-type(odd) {
				clear: left;
				margin-right: 4%;
			}
		}
	}
}

/* Contact page */
.contact-card {
	background: $red;
	@include font-size(1.2);
	font-style: italic;
	padding: 20px;
	margin: $gutter auto;
	box-shadow: 1px 1px 3px #bdbdbd;
	border: 1px solid #d0cdcd;

	@include tablet {
		background: $red url('assets/images/contact-card.png') no-repeat bottom left;
		background-size: cover;
		height: 179px;
		padding: 50px 20px 20px 26%;
		width: 400px;
	}

	li {
		list-style-type: none;
	}

	a {
		border-bottom: none;
		color: $white;

			.phoenix-icon {
				height: 20px;
				width: 20px;
				vertical-align: -3px;
			}
	}

	.card-email {
		&:hover a {
			color: $silver;
		}
	}

	.card-twitter {
		&:hover a {
			color: #89c9e7;
		}
	}

	.card-subscribe {
		&:hover a {
			color: #f4aa59;
		}
	}
} // .contact-card

.current-location .phoenix-icon-globe {
	color: $red;
	margin-right: -3px;
	vertical-align: -7px;
}
