.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Styles for all single posts */
.single, .page {
	.entry-header {
		position: relative;

		@include desktop-max {
			margin-top: 40px;
		}
	}

	.entry-header {
		background: $silver;
		height: 80vh;
		padding: $size__site-gutter;
		position: relative;
		transform: skew(0, -3deg);
		margin-left: -$size__site-gutter/2;
		width: 100%;
		width: calc(100% + #{$size__site-gutter});
		z-index: -2;
	}

	.phoenix-panel-background {
		background-position: top center;
		background-size: cover;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		filter: brightness(0.6);
		transform: skew(0, 6deg);
		z-index: -1;
	}

	// Un-skew text, because we aren't animals.
	.entry-meta,
	.entry-title {
		transform: skew(0, 3deg);
	}

	.cat-links a {
		border-bottom: none;
		color: lighten($silver, 15%);

		&::before {
			background-color: $silver;
			content: '';
			display: inline-block;
			height: 10px;
			margin-right: 5px;
			width: 10px;
		}
	}

	.posted-on .highlight {
		color: lighten($silver, 15%);
	}

	.entry-title {
		color: $white;
	}

	.subtitle {
		border-color: $white;
		color: $white;
	}
} // .single

/* Entry footer */
.entry-footer {
	@include font-size(1.6);
	border-bottom: 2px solid lighten($color__text-main, 50%);
	border-top: 1px solid lighten($color__text-main, 50%);
	color: #bbb;
	font-style: italic;
	line-height: 1.4;
	margin-top: .5em;
	padding: 1em 0;
	text-align: center;

	.twitter-share {
			border-bottom: 0;
			display: block;

			.phoenix-icon-twitter {
				height: 32px;
				margin-right: -6px;
				width: 32px;
				vertical-align: -6px;
			}
	}
}

/* Colour-code posts */
@include color-code-posts('work', $work);
@include color-code-posts('design', $design);
@include color-code-posts('travel', $travel);

/* Adjust spacing for pages */
body:not(.home) .page .entry-content {
	margin-top: -6em;
}

/* Full-width page */
.page-template-full-width-page .page {
	max-width: 100%;

	.entry-content {
		margin-left: 0;
		margin-right: 0;
	}
}
