.flare-frontpage-widget {

  .libretto-short-post {
    img {
      border-radius: 50%;
      float: left;
      height: 100px;
      margin: 10px 10px 10px 0;
      width: 100px;
    }

    .entry-title {
      @include font-size(1.6);
      clear: none;
    }

    .entry-content {
      @include font-size(1);
      line-height: 1.2;
      margin-top: 0;
    }
  } // .libretto-short-post
}


// Use two columns on a desktop, since we've got loads of space
@include desktop {
  .home .page {
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding-right: $gutter;
    width: calc(100% - 400px);
  }

  .flare-frontpage-widget {
    float: left;
    margin-top: 3em;
    padding-left: $gutter;
    width: 400px;
}
}
