/* Main dashboard */
.page.post-2599 {
  max-width: 100%;

  .entry-content {
    margin-left: 0;
    margin-right: 0;
  }
}

.wanderlist-overview {
  margin-top: 4em;

  // Use two columns on a desktop, since we've got loads of space
  @include desktop {
    .wanderlist-map-widget {
      float: left;
      padding-right: $gutter;
      width: calc(100% - 400px);
    }

    .wanderlist-location-widget,
    .wanderlist-trip-widget {
      float: left;
      padding-left: $gutter;
      width: 400px;
    }
  }
}

/* Maps */
#map {
  border: 1px solid $silver;
  display: block;
  height: 200px;
  position: relative;
  z-index: -1;
  width: 100%;

  @include tablet {
    height: 400px;
  }

  .wanderlist-location-widget {
    background: rgba(255, 255, 255, 0.75);
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    position: absolute;
    z-index: 100;

    h3 {
      text-align: center;
    }
  }
}

/* Widgets */
.wanderlist-widget {
  margin-top: 1em;

  .widget-title {
    border-bottom: 2px solid;
    padding-bottom: 0.5em;
    text-align: left;
  }
}

/* Widget styles */
.wanderlist-widget {
  dl,
  ul {
    font-family: $font__main;
    @include font-size(1);
    line-height: 1.4;
    margin: 10px 0;
    padding-left: 0;
    @include clearfix;

    dt {
      clear: left;
      color: $silver;
      float: left;
      font-style: italic;
      text-align: right;
      width: 100px;
    }

    dd {
      float: left;
      margin: 0 0 0 4px;
      white-space: nowrap;
      width: 116px;
      width: calc( 100% - 105px );
    }
  }
} // .wanderlist-location-widget

/* Text snippets */
.wanderlist-country-count {
  color: $red;
  font-weight: bolder;
  font-size: 1.5em;
  line-height: 1;
}

.wanderlist-current-location {
  color: $red;
  font-style: italic;
}
